.cardapio{
    background: var(--rosa2);
    color: white;
}


.Produto-title{
text-align: center;
    color: white;
    padding: 15px;
   font-family: 'Dancing Script', cursive;
    font-size: 3em;
}

.container-produto {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-produto{
    padding: 15px;
    background-color: #f5f5f5;
    color: rgba(15, 15, 15, 0.905);
    width: 300px;
    height: 450px;
    margin: 10px;
}



@media(max-width: 700px){
    .container-produto{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.produto-content{
    display: block;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.239);
    padding-bottom: 5px;

}

.bolo-title{
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    
}

.produto-footer{
    padding: 15px 5px 5px 5px;
    display: flex;
    justify-content: space-between;
}

.bolo-span{
    
    font-size: 1.3em;
}

.svg-icon{
    width: 26px;

}

.card-button {
    border: 1px solid;
    transition: .3s ease-in-out;
    border-radius: 100%;
    padding: .3em;
    display: flex;
   }

.card-button:hover{
    background-color: var(--rosa);
    border: 1px solid var(--rosa);
}

